{#
/**
 * @file
 * Template for Navbar component.
 *
 * Available config:
 * - container: fixed | fluid.
 * - placement: default | fixed-top | fixed-bottom | sticky-top
 * - color: light | dark
 * - utility_classes: An array of utility classes.
 *
 * Available blocks:
 * - left
 * - right
 */
#}

{% set placement = placement ?? '' %}

<nav class="navbar navbar-expand-lg justify-content-between navbar-dark {{ placement }} {{ utility_classes|join(' ') }}">
  <div class="container">
    {% block social %}
      {{ social }}
    {% endblock %}

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse">
      {% block left %}
        {{ left }}
      {% endblock %}
      {% block right %}
        {{ right }}
      {% endblock %}
    </div>
  </div>
</nav>
